<h2>Task Manager</h2>
<div class="bs-example">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a routerLink="/add-project" class="nav-link active" data-toggle="tab">Add Project</a>
            </li>
            <li class="nav-item">
                <a routerLink="/app-tasks" class="nav-link" data-toggle="tab">Add Task</a>
            </li>
            <li class="nav-item">
                <a routerLink="/add-user" class="nav-link" data-toggle="tab">Add User</a>
            </li>
            <li class="nav-item">
                <a routerLink="/view-task" class="nav-link" data-toggle="tab">View Task</a>
            </li>
        </ul>
        <router-outlet></router-outlet>
        <!-- <div class="tab-content">
            <div class="tab-pane fade show active" id="home">
                <app-tasks></app-tasks>
            </div>
            <div class="tab-pane fade" id="profile">
                <app-view-tasks></app-view-tasks>
            </div>
        </div> -->
</div>
