<h2>Task Manager</h2>
<div class="bs-example">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="#home" class="nav-link active" data-toggle="tab">Add Task</a>
            </li>
            <li class="nav-item">
                <a href="#profile" class="nav-link" data-toggle="tab">View Task</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="home">
                <app-tasks></app-tasks>
            </div>
            <div class="tab-pane fade" id="profile">
                <app-view-tasks></app-view-tasks>
            </div>
        </div>
    </div>