<h1>Project Manager</h1>
<div class="bs-example">
        <ul class="nav nav-pills divfill flex-column flex-sm-row">
            <li class="nav-item pill-3">
                <a routerLink="/add-project" class="flex-sm-fill text-sm-center nav-link active" data-toggle="tab">Add Project</a>
            </li>
            <li class="nav-item pill-3">
                <a routerLink="/app-tasks" class="flex-sm-fill text-sm-center nav-link" data-toggle="tab">Add Task</a>
            </li>
            <li class="nav-item pill-3">
                <a routerLink="/add-user" class="flex-sm-fill text-sm-center nav-link" data-toggle="tab">Add User</a>
            </li>
            <li class="nav-item">
                <a routerLink="/view-task" class="flex-sm-fill text-sm-center nav-link disabled" data-toggle="tab">View Task</a>
            </li>
            <li class="position_img"></li>
            <li></li>
            <li></li>
            <!-- <li>
                <img src="assets/app-logo.png">
            </li> -->
        </ul>
        <p></p>
        <router-outlet></router-outlet>
</div>
