<div>
        <br>
        <div class="form-group has-success has-feedback">
                <input class="form-control" type="text" name="search"[(ngModel)]="searchText"
                autocomplete="off" placeholder="Start typing.....">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
        <table class="table table-striped" matSort (matSortChange)="sortData($event)">
                <tr>
                  <th>Project</th>
                  <th mat-sort-header="projectPriority">Priority</th>
                  <th>Tasks</th>
                  <th mat-sort-header="completedTaskCount">Completed</th>
                  <th mat-sort-header="startDate">Start</th>
                  <th mat-sort-header="endDate">End</th>
                  <th>Actions</th>
                </tr>
                <tr *ngFor="let project of sortedData | filter:searchText">
                  <td>{{project?.projectName}}</td>
                  <td>{{project?.projectPriority}}</td>
                  <td>{{project?.taskCount}}</td>
                  <td>{{project?.completedTaskCount}}</td>
                  <td>{{project?.startDate|date}}</td>
                  <td>{{project?.endDate|date}}</td>
                  <td><button class="btn btn-primary" (click)="deleteProject(project)"> Suspend</button>
                    <button class="btn btn-primary" (click)="editProject(project)" >Update</button></td>
                </tr>
        </table>
</div>
