.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
label {
    vertical-align: middle;
    margin-top: .7rem;
    margin-left: .7rem;
    }
.pad-left{
    padding-left: 6px;
}