<div style="width:100%;">
    <div class="form-group has-success has-feedback">
      <br>
      <div>
              <table class="table">
                      <tr>
                              <td class="background-dark" style="width:50px;">Project</td>
                              <td class="background"><div class="row">
                                  <div class="col-md-3">
                                    <input type="text" class="form-control" #name placeholder="Project name"size="35" />
                                  </div>
                                  <div class="col-md-1">
                                    <button type="button" class="btn btn-outline-dark btn-md" (click)="searchForProjects(name.value)">Search</button>
                                  </div>
                                </div>
                              </td>
                          </tr>
              </table>
      </div>
    </div>
          <table class="table table-striped" matSort (matSortChange)="sortData($event)">
            <thead>
            <tr>
              <th>Task</th>
              <th>Parent</th>
              <th mat-sort-header="priority">Priority</th>
              <th mat-sort-header="startDate">Start</th>
              <th mat-sort-header="endDate">End</th>
              <th mat-sort-header="status">Status</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of tasks">
              <td>{{task?.taskName}}</td>
              <td>{{task?.parentTask}}</td>
              <td>{{task?.priority}}</td>
              <td>{{task?.startDate|date}}</td>
              <td>{{task?.endDate|date}}</td>
              <td>{{task?.status}}</td>
              <td><button class="btn btn-primary" (click)="endTask(task)"> End Task</button>
                <button class="btn btn-primary" (click)="editTask(task)"> Edit</button></td>
            </tr>
            </tbody>
          </table>
        </div>
        
        
  