<div style="width:100%;">
    <div class="form-group has-success has-feedback">
      <div>
              <table class="table">
                      <tr>
                              <td class="background-dark" style="width:50px;">Project</td>
                              <td class="background"><div class="row">
                                  <div class="col-md-3">
                                    <input type="text" class="form-control" #name placeholder="Project name"size="35" />
                                  </div>
                                  <div class="col-md-1">
                                    <button type="button" class="btn btn-outline-dark btn-md" (click)="searchForProjects(name.value)">Search</button>
                                  </div>
                                </div>
                              </td>
                          </tr>
              </table>
      </div>
    </div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Task</th>
              <th>Parent</th>
              <th>Priority</th>
              <th>Start</th>
              <th>End</th>
              <th>Status</th>
              <th colspan="2" align="center">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of tasks">
              <td class="background">{{task?.taskName}}</td>
              <td>{{task?.parentTask}}</td>
              <td>{{task?.priority}}</td>
              <td>{{task?.startDate|date}}</td>
              <td>{{task?.endDate|date}}</td>
              <td></td>
              <td class="background"><button class="btn btn-primary" (click)="endTask(task)"style="margin-right: 50px;"> End Task</button>
                <button class="btn btn-primary" (click)="editTask(task)" style="margin-left: 10px;"> Edit</button></td>
            </tr>
            </tbody>
          </table>
        </div>
        
        
  