/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
    top: 12px;
    width: 220px;
  }
  #beforeImage {
    padding-left:95px;
    display: inline-block; /* or block */
   /* demo 
    background: red*/
   
  }
  .content {
    padding-left:6%;
    width:68%;
}
.example-margin {
  margin: 0 0px;
  width: 5%;
}

.table th {
  text-align: center;   
}
.table-view {
  text-align: center;   
}
th {
  background-color: rgba(0, 0, 255, 0.493);
  color: white;
} 
.background {
  background-color: rgba(197, 197, 211, 0.664);
  color: rgb(12, 12, 12);
}
