/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
    top: 12px;
    width: 220px;
  }
  #beforeImage {
    padding-left:95px;
    display: inline-block; /* or block */
   /* demo 
    background: red*/
   
  }
.example-margin {
  margin: 0 0px;
  width: 5%;
}

.table{
  overflow-x: auto
}
.table th {
  text-align: center;   
}
.table-view {
  text-align: center;   
}
th {
  background-color: rgba(35, 35, 88, 0.815);
  color: white;
  text-align: center; 
} 
.divfill {
  background-color: rgba(35, 35, 88, 0.815);
  color: white;
} 
.background {
  background-color: rgba(197, 197, 211, 0.664);
  color: rgb(12, 12, 12);
}

.btn-primary {
  background-color: rgb(88, 88, 88) !important;
  border-color:  rgb(147, 145, 150) !important;
}

.btn-primary:hover {
  background-color: rgb(179, 177, 182) !important;
  border-color:  rgb(147, 145, 150) !important;
}

.btn-secondary {
  background-color: rgb(0, 0, 0) !important;
}
